.venv
.idea
*.docx
*.pdf
venv/

creds.py
dummy-script.py
chern.py
Найденные уравнения.txt

Lib/
Scripts/
pyvenv.cfg
share/
epde/
epde_eq_parse/parsed_eqs
pipeline/debug_llm_outputs
pipeline/prompt/llm_iter_*/
pipeline/metrics